/ReCpp.v14.suo
/ReCpp.opensdf
/ReCpp.sdf
/Debug
/ReCpp/Debug
/MSVC/Debug
/Tests/Debug
/obj/tests
/obj/src/io
/test.exe
/ReCpp.v12.suo
/obj
/MSVC/x64
/.vs/ReCpp/v14/.suo
/MSVC/Tests.vcxproj.user
/MSVC/Release
