language: python
python: "3.6"
sudo: required
matrix:
  include:
    - os: linux
      addons:
        apt:
          packages:
            - libdw-dev
            - gdb
      env:
        - COMPILER=clang
    - os: linux
      addons:
        apt:
          update: false
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - libdw-dev
            - gdb
      env:
        - COMPILER=gcc

install:
  - make configure-${COMPILER}-travis
  - pip install mama
  - alias mama=~/.local/bin/mama
  - whereis clang++ clang
  - ls -l /etc/alternatives/clang /etc/alternatives/clang++
  - ls -l /usr/local
  - rm /usr/local/clang

script:
  - mama build ${COMPILER} test
